<!-- Banner -->

<div id="banner-wrapper">
    <div id="banner" class="box container">
        <div class="row">
            <div class="7u 12u(medium)">
                <h2>Oi, eu sou o Goku.</h2>
                <p>Eu amo o EasyBook e irei protegê-lo</p>
            </div>
            <div class="5u 12u(medium)" >
                <ul>
                    <!-- <li><a href="#/login" class="button big icon fa-arrow-circle-right">Login</a></li> -->
                    <li><a ng-show="!authDetails.authenticated" class="button big icon fa-arrow-circle-right" href="#/login">Login</a></li>
                    <li><a ng-show="!authDetails.authenticated" class="button alt big icon fa-question-circle" href="#/cadastro">Cadastre-se</a>
                    </li>
                    <li><a ng-show="authDetails.authenticated" class="button alt big icon fa-pencil-square-o" href="#/anuncio">Fazer Anúncio</a>
                    <!-- <li><a href="#/cadastro" class="button alt big icon fa-question-circle">Cadastre-se</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div id="features-wrapper">
    <div class="container">
        <input id="search" placeholder="Digite o nome do livro" type="text" class="6u -3u 12u(medium)" ng-keyup="backspace($event)" 
               ng-keypress="finByTitle()" ng-model="title"/>
        
        <div class="row">
            <div class="4u 12u(medium)" ng-repeat="livro in livros">

                <!-- Box -->
                <section class="box feature">
                    <a href="#/" class="image featured" ng-click="buscarinf(livro)" data-toggle="modal" data-target="#myModal"><img ng-src='data:image/*; base64,{{livro.imagem}}' /> </a>
                    <div class="inner">
                        <header>
                            <h2>{{livro.nome}}</h2>
                        </header>
                        <p>{{livro.autor}}</p>
                        <p><strong>{{livro.preco  | currency:'R$':2}}</strong></p>
                    </div>
                </section>

            </div>
            <nav aria-label="Page navigation" class="12u 6u$(medium) 12u$(small)" id="pagination">
                <ul class="pagination">
                    <li ng-repeat="page in totalPages"><a ng-click="findPagination(page)" href="#/">{{page+1}}</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{livro.nome}}</h4>
      </div>
      <div class="modal-body">
          <img ng-src='data:image/*; base64,{{livro.imagem}}' /><br/>
          <label>Autor: {{livro.autor}}</label><br/>
          <label>ISBN: {{livro.ISBN}}</label><br/>
          <label>Editora: {{livro.editora}}</label><br/>
          <label>Preço: {{livro.preco  | currency:'R$':2}}</label><br/>
          <label>Em viado por: {{livro.usuario.nome}}</label><br/>
          <label>Contato: {{livro.usuario.telefone}}</label><br/>
          <label>Descrição: {{livro.descricao}}</label><br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

